# MiniMax API 配置
MINIMAX_API_KEY=eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJHcm91cE5hbWUiOiJBbGluYSBXdSIsIlVzZXJOYW1lIjoiRW5nbGlzaCBzZW50ZW5jZSBjb2xsZWN0aW9uIHdlYnNpdGUiLCJBY2NvdW50IjoiIiwiU3ViamVjdElEIjoiMTkwNTM3Mzg0MjQ5NTI1MTAxMiIsIlBob25lIjoiIiwiR3JvdXBJRCI6IjE5MDUzNzM4NDI0OTEwNTY3MDgiLCJQYWdlTmFtZSI6IiIsIk1haWwiOiJhbGluYTgzODI3MkBnbWFpbC5jb20iLCJDcmVhdGVUaW1lIjoiMjAyNS0xMS0xMiAxNTowOToxMyIsIlRva2VuVHlwZSI6MSwiaXNzIjoibWluaW1heCJ9.Iu5fO3FkDEEKPGNOneRxeGoIotx2tAH1SXtsohOu2Foj6mYKuPgLQorTYr6mm8vTtNrUbqQJ59DGKKSN2eKRk9mPmgx8HDf5ZUIYPaIHcxzCpeWErg0X6cI4EVvKAAQGk65HqupF3tW_pa9iFTI-MPCMxM_jfq339gEnHIQFsNgY63tdcZLsUT5_wghBgZJpYwBK8HbDHw828ClA60hWSxExklpm11RvpKisUJANIoTdfKLzHiIrueI3Jt17jjL449Nvkt0PigjMVGkKV6NJQT_YLpqv77lnl03l7gPj_6X2jKmNegwYhiT4nJTuLSp0y-mK2HlJcdELoafcJdlBcw

# 智谱AI API 配置  
ZHIPU_API_KEY=b1203effc7b24ca3864b4c6791486127.x33fb8EJ0lVdrMjf